<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MsDev - Minka's Blog personal</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div class="container">
      <form id="editForm" method="post" action="/comments/update/<%= comments.id %>">
        <textarea name="content" rows="10"><%=locals.commentsBody %></textarea>
        <input type="text" name="author" value="<%=locals.getUsername %>">
        <button class="full-width" type="submit">
          Update
        </button>
      </form>
  </div>
</body>
</html>
